.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

video{
  
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top:0;
  left:0;
  z-index: -1;
  position: fixed;
}
.app{
  display: flex;
}
.recipeInfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.recipeAbout{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.recipeInfo{
  background-color: rgba(7, 7, 7, 0.6);
  border: 2px solid white;
  border-radius: 50px;
  padding: 20px;
  margin: 20px;
  width: 70%;
  justify-content: center;
  
}
.photo{
  height: 200px;
  background-color: white;
  padding: 20px;
  opacity: 0.85;
  border-radius: 30px;
  align-self: center;
}
img{
  border-radius: 30px;
  margin-top: auto;
  width: 200px;
}
h2{
  color: white;
  font-size: 35px;
  text-align: center;
}
a{
  text-decoration: none;
}
button{
  border-radius: 20px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: bolder;
  margin: 10px;
  background-color: white;
}
p, li{
  font-size: 25px;
}
h1{
  font-size: 45px;
  text-align: center;
}
input{
  padding: 20px;
  opacity: 0.9;
  border-radius: 20px;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
@media all and (max-width: 500px){
  h2{
    font-size: 22px;
  }
  p, li{
    font-size: 15px;
  }
  h1{
    font-size: 35px;
  }
  input{
    padding: 10px;
    font-size: 15px;
  }
}
@media all and (max-width: 300px){
  .photo{
    height: 180px;
    padding: 15px;
  }
  img{
    width: 180px;
  }
}